.news-section a.news-item{padding:10px;text-decoration:none;color:#333;}
.news-section a.news-item:hover{background: #f6f6f6;}

.newsthumb img{max-width:100%; height:auto;}

.news-section h3{/*text-transform: uppercase;*/ margin-top:20px;}
