.testimonial-group{padding:1rem 0 2rem 0;}
.smalltestimonial{margin:0 0 20px 0;}
.readmoretestimonials{text-align:right;margin-right:4%;}
.testimonialbox .ornamentation{font-size: 72px;
	display: inline;
	float: right;
 padding: 10px 0 0 20px;
	color: rgb(205, 225, 197);
}
.testimonialbox  .inner_testimonial{

	padding: 10px 15px 5px 10px;
	font-size: 14px;
	color: #606060;
}
.testimonial_excerpt{
	font-family: "Segoe Script", "Shadows Into Light",cursive!important;
	font-size: 18px;line-height: 26px;
	color: #5C5D65;
}
.testimonial-group .testimonialbox {
	padding: 10px;
	box-sizing: border-box;
	min-height: 180px;
	background: #f0fad9;
	border: 5px solid #fff;
	border-radius: 15px;

}


.testimonial_block h2{
	padding: 20px 10px 0 !important;
	font-size:26px;
	text-transform: capitalize;
	color: #999;
	line-height:30px;
}

.testimonial_listitem{
	display: block;
	text-decoration:none;
	color:inherit;
	border-bottom:5px solid #DFDFDF;
	display:block;
	padding: 40px 10px;
}


.testimonial_thumb{float:right;margin-left:10px;}


/*  home specific testimonials */

.home .testimonial_thumb{
	float:right;margin-left:10px; 
filter: brightness(81%) grayscale(100%) sepia(122%) hue-rotate(27deg);
mix-blend-mode: multiply;
}
.home .testimonialbox{
	padding:10px;box-sizing: border-box;
	position:relative;	
	margin-left:0;
	transition:all 0.3s;
}

.testimonial_listitem:hover{color:inherit;}

.testimonial_credit{text-align:right; /*margin:20px 170px 0 0;*/}
.home .testimonial_credit{text-align:right; margin:10px 20px 0 0;}



/*  sidebar  specific testimonials */

@media (max-width:1300px){
/*mobile sizes*/
 .testimonial_thumb{width:100px;height:auto;}
}

@media (max-width:768px){
/*mobile sizes*/
.testimonial_block h2{margin-top:40px;}
}