.pher_lightbox {
    position:fixed; 
	z-index:100001;
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
	
	animation-name: lightboxfadein;
    animation-duration: 1s;
	
    background:rgba(0,0,0,0.7); 
    text-align:center;
}
.lightbox_content{height:90vh;}
.lightbox_content img{
    max-width: 90vw;
    max-height: 95vh;
    padding-top: 5vh;
	position: relative;
	top: 47vh;
	transform: translateY(-50%);
	animation-name: lightboxfadein;
    animation-duration: 1s;
	opacity:1;
}

.pher_lightbox .close_this{
	color: #f9f9f9;
	position: absolute;
	top: 1vh;
	right: 10vw;
	font-size: 16px;
	cursor:pointer;
}

.pher_lightbox .close_this span{
	display: inline-block;
	background: #CCC;
	color: #333;
	text-align: center;
	border-radius: 15px;
	width: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}

@keyframes lightboxfadein {
    from {opacity:0 }
    to {opacity:1;}
}

.blur{
	 -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
}

.arrow{
	position: absolute;
	z-index:100100;
	background: #fff;
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	top: 50vh;
	border-radius: 60px;
	font-size: 40px;
	cursor:pointer;
	     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.arrow.deactivated{
	background: #999;
	cursor: default;
	color: #717171;
}
.arrow.next_arrow{
		right: 10px;
}
.arrow.prev_arrow{
		left: 10px;
}