.promoblockwrapper{
	background:#f7f7f7;
	border-radius:5px;
	border:1px solid #e8e8e8;
	padding: 20px 5vw 40px 5vw;
	text-align:center;
	font-size:120%;
}
.promobody{margin-bottom:20px;}
.promostrapline{margin-bottom:20px;}

.section-promo .buttonstyle {margin-top:20px;}

